{namespace f=TYPO3\CMS\Fluid\ViewHelpers}

<f:layout name="Default"/>

<f:section name="title">
    OAuth/OIDC Single Sign-On (SSO) | Backend & Frontend
</f:section>
<f:section name="head">  
</f:section>
<f:section name="content">

    <div class="app sidebar-mini rtl">

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>

    <div class="tab">
        <f:form.button class="tablinks button" id="oidc_tab_btn">OpenID Connect Client</f:form.button>
        <f:form.button class="tablinks button" id="am_tab_btn">Attribute Mapping</f:form.button>
        <f:form.button class="tablinks button" id="gm_tab_btn">Group Mapping</f:form.button>
        <f:form.button class="tablinks button" id="upgrade_tab_btn">Upgrade</f:form.button>
    </div>

    <input hidden id="taby" name="taby" value="{tab}">

    <div id="topContainer">
        <div class="container" id="leftContainer">
            <div class="tabcontent tabcontent-main" id="OIDC_Settings">
                <h3><strong>Configure OAuth / OpenID Connect Client </strong></h3>
                <hr>
                <div class="tile">
                    <form action="" id="oidc_form" method="POST">
                        <input name="option" type="hidden" value="oidc_settings">

                        <div class="form-group">
                            <label for="app_name"><b>OAuth/ OpenID Provider Name</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="app_name" name="app_name" placeholder="Enter name of the OAuth/OpenID Connect Provider Name" required type="text" value="{conf.app_name}">
                            <p><a href="https://plugins.miniorange.com/typo3-sso-single-sign-on-with-oauth-openid-connect-setup-guides" target="_blank">[Click here for the Setup Guide]</a></p>
                        </div>

                        <div class="form-group">
                            <label for="app_type"><b>Application type</b><span class="premiumMessage"> * </span></label>
                            <select class="form-control" id="app_type" name="app_type" onclick="ifOAuthEnabled()">
                                        <option value="OAuth">OAuth</option>
                                <option value="OpenID Connect">OpenID Connect</option>
                            </select>
                            <input type="hidden" id="saved_app_type" value="{conf.app_type}">
                        </div>

                        <div class="form-group">
                            <label for="redirect_url"><b>Frontend Redirect/Callback Url</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="redirect_url" name="redirect_url" placeholder="Enter Response Page URL" required type="text" value="{conf.redirect_url}">
                        </div>

                        <div class="form-group">
                            <label for="feoidc"><b>feoidc page Url</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="feoidc" name="feoidc" placeholder="Enter Feoidc Page URL" required type="text" value="{conf.feoidc}">
                        </div>

                        <div class="form-group">
                            <label for="client_id"><b>Client ID</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="client_id" name="client_id" placeholder="Enter client ID from your OAuth/OpenID Provider" required type="text" value="{conf.client_id}">
                        </div>

                        <div class="form-group">
                            <label for="client_secret"><b>Client Secret</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="client_secret" name="client_secret" placeholder="Enter client Secret from your OAuth/OpenID Provider" required type="password" value="{conf.client_secret}">
                        </div>

                        <div class="form-group">
                            <label for="scope"><b>Scope</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="scope" name="scope" placeholder="e.g. email profile openid" required type="text" value="{conf.scope}">
                        </div>

                        <div class="form-group">
                            <label for="auth_endpoint"><b>Authorization Endpoint</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="auth_endpoint" name="auth_endpoint" placeholder="Enter Authorization Endpoint of your OAuth/OpenID Provider" required type="text" value="{conf.auth_endpoint}">
                        </div>

                        <div class="form-group">
                            <label for="token_endpoint"><b>Access Token Endpoint</b><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="token_endpoint" name="token_endpoint" placeholder="Enter Token Endpoint of your OAuth/OpenID Provider" required type="text" value="{conf.token_endpoint}">
                        </div>

                        <div class="form-group" id="user_info_div" style="{userinfo}">
                            <label for="user_info_endpoint"><b>User Info Endpoint</b></label>
                            <input class="form-control" id="user_info_endpoint" name="user_info_endpoint" placeholder="Enter Userinfo Endpoint of your OAuth/OpenID Provider" type="text" value="{conf.user_info_endpoint}">
                        </div>

                        <div class="form-group">
                            <label><b>Client Credentials Location</b></label>
                        <div class="animated-checkbox">
                                <label>
                                    <input id="set_header_credentials" name="set_header_credentials" type="checkbox" value="true"
                                           {f:if(condition: '{conf.set_header_credentials} == \'true\'', then: 'checked')}> 
                                    Set client credentials in Header
                                </label>
                                <label>
                                    <input id="set_body_credentials" name="set_body_credentials" type="checkbox" value="true"
                                           {f:if(condition: '{conf.set_body_credentials} == \'true\'', then: 'checked')}> 
                                    Set client credentials in Body
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="form-control" id="response" name="response" type="hidden" value="{conf.redirect_url}">
                        </div>

                        <div class="tile-footer">
                            <button class="btn btn-primary" id="submit_oidc_form" name="submit_oidc_form" onClick="jQuery('#oidc_form').submit();" style="margin-right:10px;" type="button">Save settings</button>
                            <button class="btn btn-primary" name="do_sso" id="test_config" type="button" {test_enabled}>Test Configuration</button>
                        </div>
                    </form>
                </div>

                <hr>

                <div class="animated-checkbox">
                    <h4><strong>Grant Settings</strong> <span class="premiumMessage">[Premium Feature]</span></h4>
                </div>
                &nbsp;
                <div disabled>
                    <div class="animated-checkbox">
                        <input checked disabled id="auth_code_grant" name="grant_type" type="checkbox"
                               value="auth_code_grant">
                        <label> <span class="label-text">Authorization Code Grant</span> [Default]</label>
                    </div>
                    <div class="animated-checkbox">
                        <input disabled id="implicit_grant" name="grant_type" type="checkbox" value="implicit_grant">
                        <label> <span class="label-text">Implicit Grant</span></label>
                    </div>
                    <div class="animated-checkbox">
                        <input disabled id="password_grant" name="grant_type" type="checkbox" value="password_grant">
                        <label> <span class="label-text">Password Grant</span></label>
                    </div>
                    <div class="animated-checkbox">
                        <input disabled id="refresh_token_grant" name="grant_type" type="checkbox"
                               value="refresh_token_grant">
                        <label> <span class="label-text">Refresh Token Grant</span></label>
                    </div>
                </div>

            </div>

            <!--   ATTRIBUTE MAPPING TAB-->
            <div class="tabcontent tabcontent-main" id="Attribute_Mapping">
                <form action="" id="attrs_form" method="post">
                    <input name="option" type="hidden" value="attribute_mapping">
                    <h3><strong>Attribute Mapping</strong></h3>
                    <hr>
                    <div class="tile">
                        <div class="form-group">
                            <label for="oidc_am_username"><strong>Username</strong><span class="premiumMessage"> * </span></label>
                            <input class="form-control" id="oidc_am_username" name="oidc_am_username" type="text" value="{am_username}">
                        </div>
                        
                        <div disabled>
                            <p class="premiumMessage">Advanced attribute mapping is available in premium version only.
                                Contact us at <a href="https://mail.google.com/mail/u/0/?fs=1&amp;tf=cm&amp;source=mailto&amp;su=Query+to+purchase+Typo3+OpenID+Connect+Premium+Plan+&amp;to=info@xecurify.com&amp;body=I+want+to+enquire+about+the+purchase+of+the+Typo3+OpenID+Connect+Premium+Plan.+" target="_blank">info@xecurify.com</a> to upgrade to premium version</p>

                            <div class="form-group">
                                <label for="oidc_am_email"><strong>Email</strong><span class="premiumMessage"> * </span></label>
                                <input class="form-control" disabled id="oidc_am_email" name="oidc_am_email" type="text" value="">
                            </div>

                            <div class="form-group">
                                <label for="oidc_am_fname"><b>First Name</b><span class="premiumMessage"> * </span></label>
                                <input class="form-control" disabled id="oidc_am_fname" name="oidc_am_fname" type="text">
                            </div>
                            <div class="form-group">
                                <label for="oidc_am_lname"><b>Last Name</b><span class="premiumMessage"> * </span></label>
                                <input class="form-control" disabled id="oidc_am_lname" name="oidc_am_lname" type="text">
                            </div>

                            <div class="form-group">
                                <label for="oidc_am_group"><strong>Group/Role</strong><span class="premiumMessage"> * </span></label>
                                <input class="form-control" disabled id="oidc_am_group" name="oidc_am_group" type="text" value="">
                            </div>

                        </div>
                    </div>

                    <div class="tile-footer">
                        <button class="btn btn-primary" id="custom_attrs" name="custom_attrs" onClick="jQuery('#attrs_form').submit();" type="submit">Save</button>
                    </div>
                </form>
            </div>

            <!--   GROUP MAPPING TAB-->
            <div class="tabcontent tabcontent-main" id="Group_Mapping">
                <form action="" id="grpmap_form" method="post">
                    <input name="option" type="hidden" value="group_mapping">
                    <h3><strong>Group Mapping (Frontend Users)</strong></h3>
                    <hr>
                    <div class="tile">
                        <div class="form-group gm-div">
                            <label class="form-control gm-input-label" for="oidc_default_group"><strong>Default Group</strong><span class="premiumMessage"> * </span></label>
                            <select class="form-control gm-input" id="defaultUserGroup" name="defaultUserGroup">
                                <f:for as="userGroup" each="{allUserGroups}">
                                    <option class="form-control gm-input-label" value="{userGroup.title}" {f:if(condition: '{userGroup.title} == {defaultGroup}', then: 'selected')}>
                                        {userGroup.title}
                                    </option>
                                </f:for>
                            </select>
                        </div>


                            <div class="animated-checkbox">
                            <input unchecked disabled id="fe_auto_create_if_role_mapped" name="fe_auto_create_if_role_mapped" type="checkbox" value="">
                                <label> <span class="label-text">Do not auto create users if custom roles are not mapped. </span><span class="premiumMessage">[Premium Feature]</span></label>
                            </div>


                            <div class="animated-checkbox">
                            <input unchecked disabled id="update_frontend_role_on_sso" name="update_frontend_role_on_sso" type="checkbox" value="">
                                <label> <span class="label-text">Update Frontend Roles on SSO. </span><span class="premiumMessage">[Premium Feature]</span></label>
                            </div>


                            <h4><strong>Map Typo3 Groups to IDP Groups </strong><span class="premiumMessage">[Premium Feature]</span></h4>
                            <hr>
                            <f:for as="userGroup" each="{allUserGroups}">
                                <div class="gm-div">
                                <label class="form-control gm-input-label" for="{userGroup.uid}">{userGroup.title}</label>
                                <input class="form-control gm-input" disabled id="{userGroup.uid}" name="{userGroup.uid}" type="text" value="{conf_gm.{userGroup.uid}}">
                                </div>
                            </f:for>
                    </div>
                    <div class="tile-footer">
                        <button class="btn btn-primary" id="grpmap" name="grpmap" onClick="jQuery('#grpmap_form').submit();" type="submit">Save Group Mapping</button>
                    </div>
                </form>
                <form id="gm_form1" method="post" action="">
                    <input type="hidden" name="option" value="be_group_mapping">
                    <h3><strong>Group Mapping (Backend Users)</strong> <span class="premiumMessage">[Premium Feature]</span></h3>
                    <hr>
            
                    <div disabled>
                        <p class="premiumMessage">Backend user group mapping is available in premium version only.
                            Contact us at <a href="https://mail.google.com/mail/u/0/?fs=1&amp;tf=cm&amp;source=mailto&amp;su=Query+to+purchase+Typo3+OpenID+Connect+Premium+Plan+&amp;to=info@xecurify.com&amp;body=I+want+to+enquire+about+the+purchase+of+the+Typo3+OpenID+Connect+Premium+Plan.+" target="_blank">info@xecurify.com</a> to upgrade to premium version</p>

                        <div class="form-group gm-div">
                            <label class="form-control gm-input-label" for="bedefaultUserGroup">Default UserGroup(For Backend Users):</label>
                            <select class="form-control gm-input" disabled name="bedefaultUserGroup" id="bedefaultUserGroup">
                                <f:for each="{beallUserGroups}" as="beuserGroup">
                                    <option value="{beuserGroup.title}" selected>{beuserGroup.title}</option>
                                </f:for>
                            </select>
                        </div>

                        <div class="animated-checkbox">
                            <input unchecked disabled id="fe_auto_create_if_admin_role_mapped" name="fe_auto_create_if_admin_role_mapped" type="checkbox" value="">
                            <label> <span class="label-text">Do not auto create users if custom roles are not mapped. </span></label>
                        </div>

                        <div class="animated-checkbox">
                            <input unchecked disabled id="update_backend_role_on_sso" name="update_backend_role_on_sso" type="checkbox" value="">
                            <label> <span class="label-text">Update Backend Roles on SSO.</span></label>
                        </div>

                        <h4><strong>Map Typo3 Backend User Groups to IDP Groups</strong></h4>

                        <f:for each="{beallUserGroups}" as="beuserGroup">
                            <div class="gm-div">
                                <label class="form-control gm-input-label" for="{beuserGroup.uid}">{beuserGroup.title}</label>
                                <input class="form-control gm-input" disabled id="{beuserGroup.uid}" name="{beuserGroup.title}" type="text" value="{be_conf_gm.{beuserGroup.title}}">
                            </div>
                        </f:for>
                
                        <div class="tile-footer">
                            <button type="submit" class="btn btn-primary gm-submit" disabled id="grps" name="grps" onclick="jQuery('#gm_form1').submit();">Save Group Mapping</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tabcontent tabcontent-main" id="Upgrade">
                <h3><strong>Upgrade to Premium</strong></h3>
                <hr>
                <div class="tile">
            <section class="pricing py-5">

                <div class="container">

                    <div class="row">

                        <!-- Pro Tier -->
                        <div class="columns">

                            <ul class="price">

                                <li class="header">Free (v2.0.2)</li>

                                <li class="grey">$0*</li>

                                <li>&#10004Auto Create Users (Up to 10)</li>

                                <li>&#10004Option to Add SSO login button</li>

                                <li>&#10004Basic Attribute Mapping</li>

                                <li>&#10004Default UserGroup Mapping</li>

                                <li><s>Advanced Attribute Mapping</s></li>

                                <li><s>Advanced UserGroup Mapping (Backend + Frontend)</s></li>

                                <li><s>Admin/Backend SSO</s></li>

                                <li><s>OAuth Single Logout</s></li>

                                <li><s>Support for multiple Providers</s></li>

                                <li><a class="btn btn-primary" >Upgrade Now</a></li>

                            </ul>

                        </div>
                                <!-- Premium Tier -->
                        <div class="columns">

                            <ul class="price">

                                <li class="header">Premium</li>

                                <li class="grey">$449*</li>

                                <li>&#10004Auto Create Users (Unlimited)</li>

                                <li>&#10004Option to Add SSO login button</li>

                                <li>&#10004Basic Attribute Mapping</li>

                                <li>&#10004Default UserGroup Mapping</li>

                                <li>&#10004Advanced Attribute Mapping</li>

                                <li>&#10004Advanced UserGroup Mapping (Backend + Frontend)</li>

                                <li>&#10004Admin/Backend SSO</li>

                                <li>&#10004OAuth Single Logout</li>

                                <li>&#10004Support for multiple Providers</li>

                                        <li><a class="btn btn-primary" href="https://portal.miniorange.com/initializepayment?requestOrigin=typo3_oauth_premium_plan" target="_blank">Upgrade Now</a></li>

                            </ul>
                        </div>
                    </div>
                    </div>


            </section>
                </div>
        </div>

        </div>

        <div id="rightContainer">

            <div class="tabcontent tabcontent-support" id="Support">
                <h3><strong>Support</strong></h3>
                <hr>
                        <div class="tile">
                                    <form action="" id="support_form" method="post">
                        <p><b>Need any help? We can help you in configuring the connector with your Identity Provider. Just send us a query and we will get back to you soon.</b></p>
                                        <input name="option" type="hidden" value="mo_keycloak_sso_contact_us_query_option"/>
                        
                                        <div class="form-group">
                            <input class="form-control" name="mo_keycloak_sso_contact_us_email" placeholder="Enter your email" type="text" required>
                                        </div>

                                        <div class="form-group">
                            <input class="form-control" name="mo_keycloak_sso_contact_us_phone" placeholder="Enter your phone number" type="tel">
                                        </div>

                                        <div class="form-group">
                            <textarea class="form-control" name="mo_keycloak_sso_contact_us_query" placeholder="Enter your query here" rows="6" required></textarea>
                                        </div>
                        <div class="tile-footer">
                                            <button class="btn btn-primary" name="submit" type="submit">Submit</button>
                                        </div>
                                    </form>
                </div>
            </div>
        </div>

    </div>



</f:section>